2nd training/Community/Community/Community1/force-app/main/default/flows/casseSummaryContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>total_Cases_Count</name>
        <label>total Cases Count</label>
        <locationX>80</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>var_totalCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>current_contact_cases_collections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countCasesLoop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>casseSummaryContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>casseSummaryContact</label>
    <loops>
        <name>countCasesLoop</name>
        <label>countCasesLoop</label>
        <locationX>476</locationX>
        <locationY>212</locationY>
        <collectionReference>current_contact_cases_collections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>total_Cases_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>459</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countCasesLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContacID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>current_contact_cases_collections</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_Contact_Record</name>
        <label>update Contact Record</label>
        <locationX>674</locationX>
        <locationY>204</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContacID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Incident_Records__c</field>
            <value>
                <elementReference>var_totalCases</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>current_contact_cases_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>current_contact_cases_collection1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>current_contact_cases_collections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentContacID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentContactCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_total_case_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_totalCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
