2nd training/Community/Community/Community1/force-app/main/default/flows/Employee_Review_Forms_FIN_HR_IT_QA_Update_Summation_part.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update overall score for all record types</label>
        </rules>
    </decisions>
    <description>Employee Review Forms (FIN/HR/IT/QA)_Update Summation part - Summation of All parts.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP1_BasicKnowledge_HR__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP2_BasicKnowledge_HR__c  +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P3_Job_Skills_HR__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P4_Soft_Skills_HR__c 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_0995444949</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_HR__c} +
{!myVariable_current.Overall_WeightageP2_BasicKnowledge_HR__c}  +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_HR__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills_HR__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP1_BasicKnowledge_IT__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP2_BasicKnowledge_IT__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P3_Job_Skills_IT__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P4_Soft_Skills_IT__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_1552846929</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_IT__c} +
{!myVariable_current.Overall_WeightageP2_BasicKnowledge_IT__c} +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_IT__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills_IT__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP1_BasicKnowledge_FIN__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_WeightageP2_BasicKnowledge_FIN__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P3_Job_Skills_FIN__c +
[Employee_Review_Forms_FIN_HR_IT_QA__c].Overall_Weightage_P4_Soft_Skills__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_2244332462</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_FIN__c} +
{!myVariable_current.Overall_WeightageP2_BasicKnowledge_FIN__c} +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_FIN__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Employee_Review_Forms_FIN_HR_IT_QA_Update_Summation_part-9_InterviewLabel</interviewLabel>
    <label>Employee Review Forms (FIN/HR/IT/QA)_Update Summation part</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Employee_Review_Forms_FIN_HR_IT_QA__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update the &quot;Overall Score (100%) [FIN]&quot;</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [FIN]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_FIN__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_2244332462</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_FIN_HR_IT_QA__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Overall Score (100%) [IT] update the total summation</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [IT]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_IT__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_1552846929</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_FIN_HR_IT_QA__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_FIN_HR_IT_QA__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Overall Score (100%) [HR] – Update from Process Builder</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [HR]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_HR__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_0995444949</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_FIN_HR_IT_QA__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Review_Forms_FIN_HR_IT_QA__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Review_Forms_FIN_HR_IT_QA__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
