2nd training/Community/Community/Community1/force-app/main/default/flows/Employee_Review_Forms_CS_SHP_GM_REG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update all the summation part4 and other values</label>
        </rules>
    </decisions>
    <description>Employee Review Forms (CS/SHP/GM/REG)</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P1_Basic_Knowledge_R__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P2_Technical_Skill_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P3_Job_Skills_R__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P4_Soft_Skills__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A5_7583160339</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_Weightage_P1_Basic_Knowledge_R__c} +
{!myVariable_current.Overall_Weightage_P2_Technical_Skill_RT__c} +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_R__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_for_Painting_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Works_on_Paper_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Asian_works_on_Paper_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Photographic_Works_On_Paper_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Other_Works_On_Paper_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Ceramics_Glass_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Metals_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Wood_RT__c +[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Stone_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Textile_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_Contemporary_Objects_RT__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Total_OTHERS_Oversize_Objects_RT__c 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A4_6514459210</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_for_Painting_RT__c} +
{!myVariable_current.Total_Works_on_Paper_RT__c} +
{!myVariable_current.Total_Asian_works_on_Paper_RT__c} +
{!myVariable_current.Total_Photographic_Works_On_Paper_RT__c} +
{!myVariable_current.Total_Other_Works_On_Paper_RT__c} +
{!myVariable_current.Total_Ceramics_Glass_RT__c} +
{!myVariable_current.Total_Metals_RT__c} +
{!myVariable_current.Total_Wood_RT__c} +{!myVariable_current.Total_Stone_RT__c} +
{!myVariable_current.Total_Textile_RT__c} +
{!myVariable_current.Total_Contemporary_Objects_RT__c} +
{!myVariable_current.Total_OTHERS_Oversize_Objects_RT__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP1_BasicKnowledge_SHP__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP2_Technical_Skill_SHP__c  +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P3_Job_Skills_SHP__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P4_Soft_Skills__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A3_1242762236</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_SHP__c} +
{!myVariable_current.Overall_WeightageP2_Technical_Skill_SHP__c}  +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_SHP__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP1_BasicKnowledge_GM__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP2_Technical_Skill_GM__c  +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P3_Job_Skills_GM__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P4_Soft_Skills__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A2_4873028960</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_GM__c} +
{!myVariable_current.Overall_WeightageP2_Technical_Skill_GM__c}  +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_GM__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP1_BasicKnowledge_CS__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_WeightageP2_Technical_Skill_CS__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P3_Job_Skills_CS__c +
[Employee_Review_Forms_CS_SHP_GM_REG__c].Overall_Weightage_P4_Soft_Skills__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_8784239320</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightageP1_BasicKnowledge_CS__c} +
{!myVariable_current.Overall_WeightageP2_Technical_Skill_CS__c} +
{!myVariable_current.Overall_Weightage_P3_Job_Skills_CS__c} +
{!myVariable_current.Overall_Weightage_P4_Soft_Skills__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Employee_Review_Forms_CS_SHP_GM_REG-4_InterviewLabel</interviewLabel>
    <label>Employee Review Forms (CS/SHP/GM/REG)</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Employee_Review_Forms_CS_SHP_GM_REG__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Overall Score (100%) [CS]</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [CS]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_CS__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_8784239320</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_CS_SHP_GM_REG__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Overall Score (100%) [GM] update sum part</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [GM]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_GM__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A2_4873028960</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_CS_SHP_GM_REG__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Overall Score (100%) [SHP] - Update summation part</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Score (100%) [SHP]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Score_100_SHP__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A3_1242762236</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_CS_SHP_GM_REG__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Part 2 Subtotal [RT] for the register record</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Part 2 Subtotal [RT]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Part_2_Subtotal_RT__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A4_6514459210</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_CS_SHP_GM_REG__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Forms_CS_SHP_GM_REG__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A5</name>
        <label>Overall Weightage:Overall Score[RT] update the summation of part1 to part4</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Weightage:Overall Score[RT]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Weightage_Overall_Score_RT__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A5_7583160339</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Forms_CS_SHP_GM_REG__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Review_Forms_CS_SHP_GM_REG__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Review_Forms_CS_SHP_GM_REG__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
