2nd training/Community/Community/Community1/force-app/main/default/flows/Summation_of_Section_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Summation of Section 2</label>
        </rules>
    </decisions>
    <description>The process update the fields &quot;Subtotal for Part2: for summing the all records of Employee Review Form</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Employee_Review_Form__c].Overall_Part1_BasicKnowledge_Wtage_15__c +
[Employee_Review_Form__c].Overall_Part2_TechnicalSkills_Wtage_30__c +
[Employee_Review_Form__c].Overall_Part3_Job_Skills_Weightage30__c +
[Employee_Review_Form__c].Overall_Part4_Soft_Skills_Wtage_25__c )/4</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_5172489599</name>
        <dataType>Number</dataType>
        <expression>({!myVariable_current.Overall_Part1_BasicKnowledge_Wtage_15__c} +
{!myVariable_current.Overall_Part2_TechnicalSkills_Wtage_30__c} +
{!myVariable_current.Overall_Part3_Job_Skills_Weightage30__c} +
{!myVariable_current.Overall_Part4_Soft_Skills_Wtage_25__c} )/4</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Part1_Grand_Total__c  +
[Employee_Review_Form__c].Part2_Grand_Total__c  +
[Employee_Review_Form__c].Part3_Grand_Total__c  +
[Employee_Review_Form__c].Part4_Grand_Total__c 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_5640495262</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Part1_Grand_Total__c}  +
{!myVariable_current.Part2_Grand_Total__c}  +
{!myVariable_current.Part3_Grand_Total__c}  +
{!myVariable_current.Part4_Grand_Total__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Painting_Framed_Unframed__c + [Employee_Review_Form__c].Total_Grading_for_Works_on_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Asian_Works_On_Paper__c +[Employee_Review_Form__c].Total_Grading_for_Photographic__c +
[Employee_Review_Form__c].Total_Grading_for_Other_Works_On_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Ceramics_Glass__c +
[Employee_Review_Form__c].Total_Grading_for_Metals__c +
[Employee_Review_Form__c].Total_Grading_for_Wood__c +
[Employee_Review_Form__c].Total_Grading_for_Stone__c +
[Employee_Review_Form__c].Total_Grading_for_Textile__c +
[Employee_Review_Form__c].Total_Grading_for_Contemporary_Objects__c +
[Employee_Review_Form__c].Total_Grading_OTHERS_Oversize_Objects__c  +
[Employee_Review_Form__c].Total_Grading_Site_Survey__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_6922812394</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Painting_Framed_Unframed__c} + {!myVariable_current.Total_Grading_for_Works_on_Paper__c} +
{!myVariable_current.Total_Grading_for_Asian_Works_On_Paper__c} +{!myVariable_current.Total_Grading_for_Photographic__c} +
{!myVariable_current.Total_Grading_for_Other_Works_On_Paper__c} +
{!myVariable_current.Total_Grading_for_Ceramics_Glass__c} +
{!myVariable_current.Total_Grading_for_Metals__c} +
{!myVariable_current.Total_Grading_for_Wood__c} +
{!myVariable_current.Total_Grading_for_Stone__c} +
{!myVariable_current.Total_Grading_for_Textile__c} +
{!myVariable_current.Total_Grading_for_Contemporary_Objects__c} +
{!myVariable_current.Total_Grading_OTHERS_Oversize_Objects__c}  +
{!myVariable_current.Total_Grading_Site_Survey__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Summation_of_Section_Updated-15_InterviewLabel</interviewLabel>
    <label>Summation of Section Updated</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Employee_Review_Form__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update the Sub Section</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subtotal for Part2:</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subtotal_for_Part2__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_6922812394</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update the Sum for all parts</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Weightage : Overall Score (100%)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Weightage_Overall_Score_100__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_5640495262</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>update the Overall Score percentage</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall % : Overall Score (100%):</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Overall_Score_100__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_5172489599</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Review_Form__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Review_Form__c</objectType>
    </variables>
</Flow>
