2nd training/Community/Community/Community1/force-app/main/default/flows/Summation_of_Section_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update the  Subtotal for Part2 field for summing all grading</label>
        </rules>
    </decisions>
    <description>addition  of all the section 2 and update formula field &quot;Subtotal for Part2&quot;</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Overall_WeightagePart1_BasicKnowledge_W__c +
[Employee_Review_Form__c].OverallWeightagePart2_TechnicalSkills_W__c +
[Employee_Review_Form__c].Overall_Weightage_Part3_JobSkills_W__c +
[Employee_Review_Form__c].OverallWtagePart4_SoftSkills_Wtage_25__c 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A6_9311037462</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Overall_WeightagePart1_BasicKnowledge_W__c} +
{!myVariable_current.OverallWeightagePart2_TechnicalSkills_W__c} +
{!myVariable_current.Overall_Weightage_Part3_JobSkills_W__c} +
{!myVariable_current.OverallWtagePart4_SoftSkills_Wtage_25__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Total_Grading_for_Works_on_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Asian_Works_On_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Photographic__c +
[Employee_Review_Form__c].Total_Grading_for_Other_Works_On_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Ceramics_Glass__c +
[Employee_Review_Form__c].Total_Grading_for_Metals__c +
[Employee_Review_Form__c].Total_Grading_for_Metals__c +
[Employee_Review_Form__c].Total_Grading_for_Wood__c +
[Employee_Review_Form__c].Total_Grading_for_Stone__c +
[Employee_Review_Form__c].Total_Grading_for_Textile__c +
[Employee_Review_Form__c].Total_Grading_for_Contemporary_Objects__c +
[Employee_Review_Form__c].Total_Grading_OTHERS_Oversize_Objects__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A5_2525232330</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_Grading_for_Works_on_Paper__c} +
{!myVariable_current.Total_Grading_for_Asian_Works_On_Paper__c} +
{!myVariable_current.Total_Grading_for_Photographic__c} +
{!myVariable_current.Total_Grading_for_Other_Works_On_Paper__c} +
{!myVariable_current.Total_Grading_for_Ceramics_Glass__c} +
{!myVariable_current.Total_Grading_for_Metals__c} +
{!myVariable_current.Total_Grading_for_Metals__c} +
{!myVariable_current.Total_Grading_for_Wood__c} +
{!myVariable_current.Total_Grading_for_Stone__c} +
{!myVariable_current.Total_Grading_for_Textile__c} +
{!myVariable_current.Total_Grading_for_Contemporary_Objects__c} +
{!myVariable_current.Total_Grading_OTHERS_Oversize_Objects__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Part1_Grand_Total_Registrar__c +
[Employee_Review_Form__c].Part2_Grand_Total_Registrar__c +
[Employee_Review_Form__c].Part3_Grand_Total_Registrar__c +
[Employee_Review_Form__c].Part4_Grand_Total__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A4_4746515287</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Part1_Grand_Total_Registrar__c} +
{!myVariable_current.Part2_Grand_Total_Registrar__c} +
{!myVariable_current.Part3_Grand_Total_Registrar__c} +
{!myVariable_current.Part4_Grand_Total__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Total_for_Painting__c+
[Employee_Review_Form__c].Total_Works_on_Paper__c+
[Employee_Review_Form__c].Total_Asian_works_on_Paper__c+
[Employee_Review_Form__c].Total_Photographic_Works_On_Paper__c+
[Employee_Review_Form__c].Total_Other_Works_On_Paper__c+
[Employee_Review_Form__c].Total_Ceramics_Glass__c+
[Employee_Review_Form__c].Total_Metals__c+
[Employee_Review_Form__c].Total_Wood__c+
[Employee_Review_Form__c].Total_Stone__c+
[Employee_Review_Form__c].Total_Textile__c+
[Employee_Review_Form__c].Total_Contemporary_Objects__c+
[Employee_Review_Form__c].Total_OTHERS_Oversize_Objects__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A3_3406500118</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Total_for_Painting__c}+
{!myVariable_current.Total_Works_on_Paper__c}+
{!myVariable_current.Total_Asian_works_on_Paper__c}+
{!myVariable_current.Total_Photographic_Works_On_Paper__c}+
{!myVariable_current.Total_Other_Works_On_Paper__c}+
{!myVariable_current.Total_Ceramics_Glass__c}+
{!myVariable_current.Total_Metals__c}+
{!myVariable_current.Total_Wood__c}+
{!myVariable_current.Total_Stone__c}+
{!myVariable_current.Total_Textile__c}+
{!myVariable_current.Total_Contemporary_Objects__c}+
{!myVariable_current.Total_OTHERS_Oversize_Objects__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].OverallWtagePart1_BasicKnowledge_Wt_15__c +
[Employee_Review_Form__c].OverallWtagePart2_TechnSkills_Wtge_30__c +
[Employee_Review_Form__c].Overall_WtagePart3_Job_Skills_Wtage_30__c +
[Employee_Review_Form__c].OverallWtagePart4_SoftSkills_Wtage_25__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A2_8873031492</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.OverallWtagePart1_BasicKnowledge_Wt_15__c} +
{!myVariable_current.OverallWtagePart2_TechnSkills_Wtge_30__c} +
{!myVariable_current.Overall_WtagePart3_Job_Skills_Wtage_30__c} +
{!myVariable_current.OverallWtagePart4_SoftSkills_Wtage_25__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Employee_Review_Form__c].Painting_Framed_Unframed__c + 
[Employee_Review_Form__c].Total_Grading_for_Works_on_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Asian_Works_On_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Photographic__c +
[Employee_Review_Form__c].Total_Grading_for_Other_Works_On_Paper__c +
[Employee_Review_Form__c].Total_Grading_for_Ceramics_Glass__c +
[Employee_Review_Form__c].Total_Grading_for_Metals__c +
[Employee_Review_Form__c].Total_Grading_for_Wood__c +
[Employee_Review_Form__c].Total_Grading_for_Stone__c +
[Employee_Review_Form__c].Total_Grading_for_Textile__c +
[Employee_Review_Form__c].Total_Grading_for_Contemporary_Objects__c +
[Employee_Review_Form__c].Total_Grading_OTHERS_Oversize_Objects__c  +
[Employee_Review_Form__c].Total_Grading_Site_Survey__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_4359161835</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Painting_Framed_Unframed__c} + 
{!myVariable_current.Total_Grading_for_Works_on_Paper__c} +
{!myVariable_current.Total_Grading_for_Asian_Works_On_Paper__c} +
{!myVariable_current.Total_Grading_for_Photographic__c} +
{!myVariable_current.Total_Grading_for_Other_Works_On_Paper__c} +
{!myVariable_current.Total_Grading_for_Ceramics_Glass__c} +
{!myVariable_current.Total_Grading_for_Metals__c} +
{!myVariable_current.Total_Grading_for_Wood__c} +
{!myVariable_current.Total_Grading_for_Stone__c} +
{!myVariable_current.Total_Grading_for_Textile__c} +
{!myVariable_current.Total_Grading_for_Contemporary_Objects__c} +
{!myVariable_current.Total_Grading_OTHERS_Oversize_Objects__c}  +
{!myVariable_current.Total_Grading_Site_Survey__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Summation_of_Section_2-14_InterviewLabel</interviewLabel>
    <label>Summation of Section 2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Employee_Review_Form__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Subtotal for Part2 field</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subtotal for Part2:</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subtotal_for_Part2__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_4359161835</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update the Total for &quot;Overall Weightage : Overall Score (100%)	&quot;</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Weightage : Overall Score (100%)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Weightage_Overall_Score_100__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A2_8873031492</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>update the record Subtotal for Part2[Registrar]:</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subtotal for Part2[Registrar]:</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subtotal_for_Part2_Registrar__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A3_3406500118</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Update a record for register record type=OverallWeightage:OverallScore(100%)[R]</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OverallWeightage:OverallScore(100%)[R]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OverallWeightage_OverallScore_100_R__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A4_4746515287</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A5</name>
        <label>Update the Warehouse Record Type &quot;Subtotal for Part2[W]:	&quot;</label>
        <locationX>100</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>myRule_1_A6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subtotal for Part2[W]:</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subtotal_for_Part2_W__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A5_2525232330</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Employee_Review_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A6</name>
        <label>Update the record  for Warehouse =Overall Weightage:Overall Score(100%)[W]</label>
        <locationX>100</locationX>
        <locationY>700</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Overall Weightage:Overall Score(100%)[W]</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Overall_Weightage_Overall_Score_100_W__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A6_9311037462</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Review_Form__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Review_Form__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Review_Form__c</objectType>
    </variables>
</Flow>
